
.navbar {
  height: 72px;

  background: rgba(255,255,255,0.8);

  backdrop-filter: blur(10px);

  border-bottom: 1px solid var(--border);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 2rem;

  position: sticky;
  top: 0;

  z-index: 100;
}

.navbar h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}
